@import '../../../../styles/vars.scss';

%square
{
    cursor: pointer;
    
    & *
    {
        font-size: 0.875em;
        line-height: 18px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }
}
.wrap_crimson
{
    @include wrap_btn($crimson, 'on');
    @extend %square;
    padding: 23px 40px 22px;
   
}