@import '../../../../styles/vars.scss';

%circle
{
    border-radius: 15px;
    grid-template-columns: 5fr 1fr;
    padding: 9px 14px;
    font-size: 1em;
    line-height: 21px;

    & > input
    {
        width: 100%;
    }
    & > img
    {
        justify-self: end;
    }
}
.wrap_blue
{
    @include wrap_btn($blue);
    @extend %circle;
}
.wrap_white
{
    @include wrap_btn($white);
    @extend %circle;
    border: $beige solid 2px;
    border-radius: 7px;
}