@import '../../../styles/vars.scss';

@mixin title($color)
{
  
    display: grid;
    grid-auto-flow: row;
    height: fit-content;
    & > div
    {
        width: 30px;
        background-color: $color;
        height: 5px;
       justify-self: start;
    }

    & > h3
    {
        margin: 0;
        padding: 0;
        color: $color;
    }
      
    
}

.wrap_dark_blue
{
    @include title($dark_blue);
}
.wrap_night_blue
{
    @include title($night_blue);
}
.wrap_white
{
    @include title($white);
}