@use 'sass:map';
@import '../../../styles/vars.scss';

$link_color: (

    $grayish_blue: $blue,
    $dark_blue: $crimson
);

@mixin checkbox($color)
{
    & a
    {
        color: map.get($link_color, $color);
    }
    & > input
    {
        position: absolute;
        z-index: -1;
        opacity: 0;

        &:checked + label::before
        {
            background-image: url('/icons/check.svg');
        }
    }
    & > label
    {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        user-select: none;
        cursor: pointer;

        & > span
        {
            font-size: 12px;
            line-height: 16px;
            align-self: start;
        }

        &::before
        {
            content: '';
            display: inline-flex;
            align-self: flex-start;
            width: 1em;
            height: 1em;
            flex-shrink: 0;
            flex-grow: 0;
            border: 1px solid map.get($contrast_color, $color);
            border-radius: 0.25em;
            margin-right: 0.5em;
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}

.wrap_grayish_blue
{
    @include checkbox($grayish_blue);

}