@use "sass:map";

$white: #FFFFFF;
$grayish_white: #E1E4F4;
$crimson: #FF1F55;
$blue: #1F5EFF;
$beige: #EEEEEE;
$grayish_blue: #6E7A99;
$dark_blue: #171E2D;
$night_blue: #1D2435;
$medium_blue: #24314A;
$grayish_light: #F2F3F6;
$grayish_dark: #878B95;
$grayish_blue_dark: #303947;
$grayish: #7D89A4;


$contrast_color: (

    $crimson: $white,
    $blue: $white,
    $white: $grayish_blue,
    $grayish_white: $blue,
    $dark_blue: $grayish_white

);

$hover_color: (

    $grayish_white: $dark_blue

);

%items_center
{
    justify-items: center;
    align-items: center;
}
%self_center
{
    justify-items: center;
    align-items: center;
}
%content_center
{
    justify-content: center;
    align-self: center;
}
@mixin wrap_btn($bg_color, $hover: 'off', $txt_color: map.get($contrast_color, $bg_color))
{
    
    background-color: $bg_color;
    cursor: pointer;
    font-family: 'IBM Plex Sans';
    color: $txt_color;
    user-select: none;
    & img
    {
        max-width: 40%;
    }
    & > div
    {
        display: grid;
        justify-content: stretch;
        align-content: stretch;
        @extend %items_center;
    }
    *
    {
        cursor: pointer;
        border: 0;
        outline: none;
        background: transparent;
        color: $txt_color;
    }
    @if $hover == 'on'
    {
        &:hover
        {
            background-color: $txt_color;

            *
            {
                color: $bg_color;

            }
            
        }
    }
    .active_hover
    {
        background-color: $txt_color !important;
        color: $bg_color !important;
        
        
    }
}